/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* .................
        top banner section 
             ..................*/
.top-banner {
    margin: 20px 40px;
    border-radius: 25px;
    background-color: #161616;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.banner-info-title {
    margin: 10px;
    margin-left: 80px;
}

.banner-info-title h1 {
    font-size: 65px;
}

.link-button {
    background-color: #DD0000;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    margin-bottom: 60px;
    transition: transform 0.5s;
  
}

.link-button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.link-button span {
    margin-right: 2px;
}

.top-banner-img {
    text-align: right;
}

.top-banner-img img {
    width: 100%;
}

@keyframes sliding {
    form {
        background-color: #DD0000;

    }

    to {
        background-color: #4d2626;

    }
}

/* .................
         top banner section end
           ...................... */

/* .............
        middle section
            .............. */

.match-container {
    display: flex;
    margin: 100px 50px;
}

.button-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 312px;
    height: 312px;
    border-radius: 10px;
    margin-right: 15px;
    background-color: #161616;
}

.button-info a {
    text-decoration: none;
    font-weight: 500;
}

.button-item {
    width: 220px;
    height: 55px;
    color: #161616;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin: 20px 0;
    cursor: pointer;
}

#blog-button-item {
    width: 220px;
    height: 55px;
    background-color: #DD0000;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin: 20px 0;
    cursor: pointer;
}

/* blogs item styles */
.blog-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px 15px;
}

.single-blog {
    width: 300px;
    height: 362px;
    box-shadow: 0px 0px 1px;
    border-radius: 10px;
}

.single-blog img {
    width: 100%;
}

.transfer-btn {
    width: 100px;
    height: 30px;
    margin-top: 20px;
    border: 1px solid #161616af;
    border-radius: 5px;
}

.blog-info {
    margin-left: 20px;
}

.blog-icons span {
    margin-right: 25px;
}

/* blogs item styles end */

/* . middle section end ....*/


/* upcoming Match page */

.match-schedule {
    padding: 20px;
    box-shadow: 0px 0px 1px;
    text-align: center;
}

.flag-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* upcoming Match page end*/

/* all group page */

.single-group {
    padding: 20px;
    box-shadow: 1px 1px 2px;
     margin-right: 30px;
    margin-left: 30px;
}

.group-title {
    text-align: center;
    background-color: #ff6f6f80;
}

.country-name span {
    margin-left: 30px;
    position: relative;
    bottom: 10px;
}

/* all group page end */

/* ...footer section ... */

.footer-section {
    background-color: #161616;
    margin-top: 50px;

}

.footer-container {
    text-align: center;
    padding: 120px;
}

.footer-container h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
    border-bottom: 1px solid #ffffff42;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.sercices a {
    text-decoration: none;
    color: #B9B9B9;
    margin: 20px;
}

.social-icons {
    margin-top: 70px;
    line-height: 60px;
}

.social-icons a {
    margin: 25px;
    color: white;
    font-size: 20px;
    padding: 10px;
    background-color: #7b7979ab;
    border-radius: 5px;
}

/*..footer section end..*/



